<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Graphy</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <h1 style="text-align: center; color: white;">欢迎使用Graphy</h1>
    <p style="text-align: center; color: white;">请输入用户名和密码进行登录：</p>
    <div class="container" id="loginCredentialsContainer">
        <div>
            <h1 style="text-align: center; color: white;">登录</h1>
        </div>
        <div class="main">
            <form id="credentialsForm">
                <span>
                    <input id="usernameInput" type="text" placeholder="账号">
                </span><br>

                <span>
                    <input id="passwordInput" type="password" placeholder="密码">
                </span><br>
                <button id="loginButton" type="button">登录</button>
                <div id="signup">
                  <a href="http://localhost:8000/signup" id="signupButton" style="width: 100px; text-align: center; color: white;">注册</button>
                </div>
                
            </form>
        </div>
    </div>
    <!-- Move the image here, below the login controls -->
    <!--img src="../static/images/welcome.jpg" width="100%"/-->
    
</body>

<script>
    document.getElementById("loginButton").addEventListener("click", function() {
      // 获取输入框的值
      var username = document.getElementById("usernameInput").value;
      var password = document.getElementById("passwordInput").value;
  
      // 创建一个FormData对象来包含表单数据
      var userFormData = new FormData();
      userFormData.append("username_input", username);
      userFormData.append("password_input", password);
  
      // 发送Ajax请求到服务器端（Flask）
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/login_clicked");
      xhr.send(userFormData);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          var redirectUrl = response.redirect_url;
          if (redirectUrl) {
            window.location.href = encodeURIComponent(redirectUrl);
          } else {
            console.log("Invalid redirect URL");
          }
        }
      };
      xhr.setRequestHeader("Content-Type", "application/json");
    });

    var signupButton = document.getElementById("signupButton");
    
    signupButton.addEventListener('click', function() {
      window.location.href = 'http://localhost:8000/signup';
    });
</script>

</html>
