<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Graphy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='homepage.jpg') }}" width="100%"/>
    <h1 style="text-align: center;">欢迎使用Graphy</h1>
    <p style="text-align: center;">请输入用户名和密码进行登录：</p>
    <div id="loginCredentialsContainer" class="container">
        <div>
            <h1 style="text-align: center;">登录</h1>
        </div>
        <div class="main">
            <form id="credentialsForm">
               <span>
                   <input id="usernameInput" type="text" placeholder="账号">
               </span><br>

               <span>
                   <input id="passwordInput" type="password" placeholder="密码">
               </span><br>
               <button id="loginButton" type="button">登录</button>
       
            </form>
           </div>
    </div>
    <a href="{{ url_for('signup') }}">注册</a>
</body>

<script>
    document.getElementById("loginButton").addEventListener("click", function() {
      // 获取输入框的值
      var username = document.getElementById("usernameInput").value;
      var password = document.getElementById("passwordInput").value;
  
      // 创建一个FormData对象来包含表单数据
      var userFormData = new FormData();
      userFormData.append("username_input", username);
      userFormData.append("password_input", password);
  
      // 发送Ajax请求到服务器端（Flask）
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/login_clicked");
      xhr.send(userFormData);
  
      // 可以在这里执行其他操作，如显示加载状态或处理响应
    });
</script>
  
</html>