<!DOCTYPE html>
<html>
<head>
  <title>nav.html</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
</head>
<body>

  <div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">

  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Graphy<span>Knowledge Graph</span></li>
      <a href="http://localhost:8000/nav" target="_blank"><li>Home</li></a>
      <a href="http://localhost:8000/fullscreengraph" target="_blank"><li>Full Screen Graph</li></a>
      <a href="http://localhost:8000/root" target="_blank"><li>Placeholder3</li></a>
      <a href="http://localhost:8000/root" target="_blank"><li>Placeholder4</li></a>
      <a href="http://localhost:8000/root" target="_blank"><li>Neo4j Browser</li></a>
      <a href="http://localhost:8000/root" target="_blank"><li>Placeholder6</li></a>
    </ul>
  </div>

  <div id='center' class="main center">
    <div class="mainInner">
      <div>Graphy Div 1</div>
    </div>
    <div class="mainInner">
      <div>Graphy Div 2</div>
    </div>
    <div class="mainInner">
      <div>Graphy Div 3</div>
    </div>
  </div>

</body>
</html>